@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
  }
body{
    overflow-x: hidden;
}
.socialIcon-footer{
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 100%;
    cursor: pointer;
}

.socialIcon-footer{
    @apply bg-dark_green object-contain flex items-center justify-center
}
/* .socialIcon-footer img, .icon{
    width: 18px;
    height: 18px;
} */

.footerIcon{
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 100%;
}
.footerIcon{
    @apply bg-white flex items-center justify-center
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}